[Desktop Entry]
Encoding=UTF-8
Name=MonsterNode
Comment=MonsterNode P2P Cryptocurrency
Comment[fr]=MonsterNode, monnaie virtuelle cryptographique pair à pair
Comment[tr]=MonsterNode, eşten eşe kriptografik sanal para birimi
Exec=monsternode-qt %u
Terminal=false
Type=Application
Icon=monsternode128
MimeType=x-scheme-handler/monsternode;
Categories=Office;Finance;
